// BREAKPOINTS

$BREAKPOINT-DESKTOP: "only screen and (min-width: 1200px)";
$BREAKPOINT-TABLET-LAND: "only screen and (max-width: 1024px)";
$BREAKPOINT-MOBILE: "only screen and (max-width: 800px)";

//MIXINS

@mixin margin-page {
  width: calc(100% - 4rem);
  margin: 0 auto;

  @media #{$BREAKPOINT-TABLET-LAND} {
    max-width: 800px;
  }

  @media #{$BREAKPOINT-DESKTOP} {
    max-width: 1110px;
  }
}
